body{
	background-color: #90EE90;
}

div{
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

#logo{
	max-width: 20%;
}

#instagram{
    max-width: 4%;
}

footer {
    background-color: #409640;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
}